.prof-home {
    margin: 0;
    min-height: 97vh;

    display: flex;
    justify-content: center; 
    align-items: center;     

    background: linear-gradient(135deg, #080808, #270438);
}

.valo-body{
    margin: 0;
    min-height: 97vh;

    display: flex;
    justify-content: center; 
    align-items: center;     

    background: linear-gradient(135deg, #bbb2b2, #a51e8e);
}

.mc-body {
    margin: 0;
    min-height: 97vh;

    display: flex;
    justify-content: center; 
    align-items: center;     
    background: linear-gradient(135deg, #050505, #2b1b1b);
}

.league-body {
    margin: 0;
    min-height: 97vh;

    display: flex;
    justify-content: center;
    align-items: center;     

    background: linear-gradient(180deg, #013A46, #5EFB6E)
}

.username {
    color: rgb(121, 43, 43);
    -webkit-text-stroke: 1px rgb(226, 190, 190);
    text-shadow: 4px 4px 0px rgb(65, 57, 57);
    font-family: "Bitcount Prop Single", system-ui;
}

h1, h2, ul, p{
    color: rgb(83, 0, 0);
    -webkit-text-stroke: 1px rgb(250, 250, 250);
    text-shadow: 4px 4px 0px gray;
    font-family: "Bitcount Prop Single", system-ui;
    align-self: auto;
    text-align: center;
    font-size: xx-large;
    font-weight: 100;
    list-style: none;

}
.youtube-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background-color: red;
    color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 15px;
    transition: 0.5s;
}
.github-btn{
    padding: 10px 20px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(11, 1, 29);
    color: rgb(15, 0, 0);
    -webkit-text-stroke: 1px rgb(70, 78, 199);
    font-size: 15px;
    transition: 0.5s;
}
.discord-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(67, 0, 116);
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgba(173, 0, 101, 0);
    font-size: 15px;
    transition: 0.5s;
}

.youtube-btn:hover, .github-btn:hover, .discord-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}

.social-asi {
    display:flex;
    justify-content:center;
    gap:20px;
}

.creds {
    font-size: small;
}

.card {
    width: min(90%, 600px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.mcprofiletxt, .valo-profile-txt {
    font-size: xxx-large;
}

.headings{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 30px;
}

.sectiontxt {
    background: #222;
    padding: 15px;
    border-radius: 7px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.sectiontxt {
    font-size: x-large;
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,.4);
}

.pp, .dl-mod, .leaguep{
    font-size: xx-large;
    text-decoration: none;
}

.home-btn {
    position: fixed;
    top: 10px;
    left: 20px;


    display: flex;
    align-items: center;
    gap: 10px;

    color: white;
    text-decoration: none;
}

.home-btn img {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.home-btn {
    color: white;
    padding: 5px;
    border: solid;
    border-radius: 10px;
    border-color: rgb(253, 253, 253);
    border-style: inset;
}

.mc, .val, .lol {
    text-decoration: none;
}
.valo-prof {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
}

.valo-prof img{
    color: rgb(255, 0, 157);
    padding: 5px;
    border: solid;
    border-radius: 50%;
    border: color(pink);
}

.valtxt {
    margin-top: -10px;
    margin-left: 30px;
    margin-bottom: -10px;
}

.val-p {
    margin-top: -10px;
}

.cyrx{
    transition: 0.5s;
}

.cyrx:hover {
    transform: scale(1.2);
}

.valsection {
    background: #E195AB;
    padding: 15px;
    border-radius: 7px;
    width: 250px;
    text-align: center;
}

.gold-icon {
    margin-left: 90px;
    transition: 0.5s;
}

.gold-icon:hover{
    transform: scale(1.2);
}

.league-prof img {
    color: rgb(75, 211, 22);
    padding: 5px;
    border: solid;
    border-radius: 50%;
    border: color(rgb(50, 134, 17))
}

.leaguesec{
    padding: 15px;
    border-radius: 7px;
    width: 250px;
    text-align: center;
    
}

.boticon, .silvbadge, .faker {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-left: 85px;
    margin-top: -20px;
    transition: 0.5s;
}

.boticon:hover, .silvbadge:hover, .faker:hover {
    transform: scale(1.5);
}

.silvbadge {
    width: 100px;
    height: 100px;
}

.leagueptxt {
    margin-bottom: -40px;
    font-size: xxx-large;
    margin-top: -1px;
}

.leaguesec {
    background: #78ae4b;
    padding: 15px;
    border-radius: 7px;
    width: 250px;
    text-align: center;
}